
<div><h1></h1></div>

<div><li><h4>Search term was : <%= @series_name.gsub('+',' ') %></h4></li></div>
<div><h1></h1></div>
<%results = series_search(@series_name.gsub('+',' '))%>


<% if results != false%>
    <ul>
    <% results.each do |r| %>
    <% r = episode_search(r) %>
    <span><li><%= link_to("#{r["Title"]} ( #{r["Year"]} )", "/series/"+(r["Title"]).to_s)%> </li>
    <%=image_tag(single_poster(r['imdbID']), :width => "70", :class =>"img-thumbnail")  %>
    </span>

    <% end %>
    </ul>
<% else %>

<p>No movies exist with that name... Soz </p>
<% end  %>