<%= Review.where(movie_id: "#{id}").find_each do |review| %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= review.title %>
            </div>
            <div class="panel-body">
                <%= review.body%>
            </div>
            <div class="panel-heading">
                  <footer>
                        <%= "Created: #{format_review_date(review)}" %>
                  </footer>
            </div>

        </div>
<%end%>


