<div><h1></h1></div>
<div><li><h4>Search term was : <%= @movie_name.sub('%',' ') %></h4></li></div>
<div><h1></h1></div>
<%results = search(@movie_name)%>

    <div class="container" >
        <div class="row">
            <div class="col-sm-6">
              <% results.each do |r| %>
                <% r = single_search(r) %>
                <li><%= link_to("#{r["Title"]} ( #{r["Year"]} )", "/movies/"+(r["imdbID"]).to_s)%> </li>
                <%=image_tag(single_poster(r['imdbID']), :width => "70")  %>

                <% end %>
            </div>
        </div>
    </div>