<div><h1></h1></div>
<div><li><h4>Search term was : <%= @movie_name.gsub('+',' ') %></h4></li></div>
<div><h1></h1></div>
<%results = search(@movie_name.gsub('+',' '), params[:sort_key])%>


<% if results != false%>
    <% results.each do |r| %>
    <% r = single_search(r) %>
    <div class = 'col-sm-6 col-lg-4'><h4><%= link_to("#{r["Title"]} ( #{r["Year"]} )".truncate(30), "/movies/"+(r["imdbID"]).to_s)%></h4>
    <div style="height: 400px;"><%= link_to(image_tag(single_poster(r), :alt => "#{r['Title']} movie poster",:width => "200", :class =>"thumbnail"),  "/movies/"+(r["imdbID"]).to_s) %> </div>
    </div>
    <% end %>
<% else %>

<p>No movies exist with that name... Sorry </p>
<p>Oh well.. At least you get to look at these cute pandas</p>

<div> <%= image_tag("nothing_here.gif", :class => 'img-rounded img-thumbnail') %></div>
<% end  %>