<div><h1></h1></div>

<div><li><h4>Search term was : <%= @movie_name.gsub('+',' ') %></h4></li></div>
<div><h1></h1></div>
<%results = search(@movie_name.gsub('+',' '), params[:sort_key])%>


<% if results != false%>
    <ul>
    <% results.each_slice(3) do |slice| %>
    <% slice.each do |r| %>
    <% r = single_search(r) %>
    <div class = 'col-sm-6'><li><h4><%= link_to("#{r["Title"]} ( #{r["Year"]} )", "/movies/"+(r["imdbID"]).to_s)%></h4>
    <div style="height: 400px;"><%= link_to(image_tag(single_poster(r['imdbID']), :width => "200", :class =>"img-thumbnail"),  "/movies/"+(r["imdbID"]).to_s) %> </div>
    </li></div>
    <% end %>
    <% end %>
    </ul>
<% else %>

<p>No movies exist with that name... Sorry </p>
<p>Oh well.. At least you get to look at these cute pandas</p>

<div> <%= image_tag("nothing_here.gif", :class => 'img-rounded img-thumbnail') %></div>
<% end  %>