<div><h1></h1></div>

<div><li><h4>Search term was : <%= @movie_name.gsub('+',' ') %></h4></li></div>
<div><h1></h1></div>
<%results = search(@movie_name.gsub('+',' '))%>


<% if results != false%>
    <ul>
    <% results.each do |r| %>
    <% r = single_search(r) %>
    <span><li><%= link_to("#{r["Title"]} ( #{r["Year"]} )", "/movies/"+(r["imdbID"]).to_s)%> </li>
    <%=image_tag(single_poster(r['imdbID']), :width => "130", :class =>"img-thumbnail")  %>
    </span>

    <% end %>
    </ul>
<% else %>

<p>No movies exist with that name... Sorry </p>
<p>Oh well.. At least you get to look at these cute pandas</p>

<div> <%= image_tag("nothing_here", :class => 'img-rounded img-thumbnail') %></div>
<% end  %>