<h3> Reviewed Movies / TV Series </h3>
<% if current_user != nil %>
<% if  Review.where(user_id: "#{current_user.id}").size == 0 %>
<div class = 'col-xs-2'>
<p> Sorry no reviews are found :(</p>
<p> Go , and start reviewing!</p>
</div>
<% else %>
<% reviews = Review.where(user_id: "#{current_user.id}") %>
<% uniq_id = reviews.map{|m| m['movie_id']}.uniq %>
<% reviews = [] %>
<% uniq_id.each do |id| %>
    <% reviews << Review.where(movie_id: id).first%>
<% end %>
<% reviews.reverse_each do |review| %>
                <div class="clearfix col-xs-12 col-sm-6 col-md-4 col-lg-2"  >
                    <div style = "padding-left = 20px;"align= 'center' >
                    <% review_of = single_search("#{review.movie_id}", true) %>
                    <% if review_of['Type'] == 'movie' %>
                        <% type = 'movies' %>
                    <% else %>
                      <% type = 'series' %>
                    <% end %>
                     <div align= 'center' ><%= link_to(image_tag(review_of['Poster'] , :class => 'img-responsive thumbnail') , "/#{type}/#{review_of['imdbID']}")%></div>

                    <!-- One of my proudest moments
                    <% if false %>
                    <p><%= link_to(image_tag(review_of['Poster']) , "/#{(review_of['Type']).pluralize(2)}/#{review_of['imdbID']}")%></p>
                    <% end %> -->
                    </div>
                  </div>

<%end%>
<% end %>
<% end %>