<div class = "col-xs-4 pull-left" align= "left"> Members</div>
<div class = "col-xs-4 pull-right" align = "right"> Admin Users</div>
<h1> </h1>
<% @users.each do |user|%>
    <% if user.level == 3%>
        <table border = '2' class = 'table-bordered col-xs-4 pull-right' style = "margin-bottom: 100px;">
            <thread >
                <div>
                <tr ><td><h3>Name:</h3></td><td style = 'background:orange; color:black;'><h3><%= user.name %></h3></td></tr>
                <tr><td><h3>Email:</h3></td><td style = 'background:orange; color:black;'><h3><%= user.email %></h3></td></tr>
                </div>
            </thread>
        </table>
    <% else %>
        <table border = '2' class = 'table-bordered col-xs-4 pull-left' style = "margin-bottom: 100px;">
            <thread >
                <div>
                <tr><td><h3>Name:</h3></td><td><h3><%= user.name %></h3></td></tr>
                <tr><td><h3>Email:</h3></td><td><h3><%= user.email %></h3></td></tr>
                </div>
            </thread>
        </table>
    <% end %>
<% end %>

