<h1>Home</h1>
<p>Welcome to Matt's Website.. Please click below to get to the main page.</p>
<div class= 'col-xs-4'>
<a class="navbar-brand" href='/movies' style = 'background:darkgrey; color:black;' role = 'button'>movies</a>
</div>
<div class= 'col-xs-4 pull-right'>
<a class="navbar-brand" href='/home/about' style = 'background:darkgrey; color:black;' role = 'button'>About page</a>
</div>