
<h1>Series</h1>
<h3>These are the featured tv series: </h3>

<% series_name_array = ['Game Of Thrones', 'Mr Robot', 'Agents of Shield', 'Silicon Valley', 'Breaking Bad'] %>
<% results = [series_search('tt0944947'), series_search('tt4158110'),series_search('tt2575988') , series_search('tt2364582'), series_search('tt0903747')]%>

<% if results.include?(false) != true%>
    <% results = results.sort_by{|n| n[params[:sort_key]]} %>
    <% results.each do  |r| %>
    <div class = 'col-xs-6 col-lg-4'><h4><%= link_to("#{r["Title"]} ( #{r["Year"]} )".truncate(23), "/series/"+(r["imdbID"]).to_s)%></h4>
    <div style="height: 350px;"> <%= link_to(image_tag((r['Poster']),:alt => "#{r['Title']} tv-series poster", :width => "200", :class =>"thumbnail"),  "/series/"+(r["imdbID"]).to_s) %>
    </div></div>
    <% end %>
    <% else %>
    <p>No series exist with that name... Sorry </p>

    <% end  %>

