
<h2>Movies</h2>
<p>These are the featured movies: </p>

<% series_name_array = ['Game Of Thrones', 'Mr Robot', 'Agents of Shield', 'Silicon Valley', 'Breaking Bad'] %>
<% results = [series_search('Game Of thrones'), series_search('agents of shield'),series_search('Silicon valley') , series_search('Mr robot'), series_search('Breaking bad')]%>

<% if results.include?(false) != true%>
    <% results = results.sort_by{|n| n[params[:sort_key]]} %>

    <ul>
    <% results.each do |results|%>
        <ul>
        <span><li><%= link_to("#{results["Title"]} ( #{results["Year"]} )", "/series/"+(results["Title"].gsub('.', '').gsub(' ','+')).to_s)%> </li>
        <%=image_tag(single_poster(results['imdbID']), :width => "70", :class =>"img-thumbnail")  %>
        </span>
        </ul>
         <% end %>
    </ul>
    <% else %>
    <p>No series exist with that name... Soz </p>
    <% end  %>

