<div><h1></h1></div>

<div><li><h4>Search term was : <%= @series_name.gsub('+',' ') %></h4></li></div>
<div><h1></h1></div>

<%= @series_name.gsub('+',' ') %>
<%results = series_search(@series_name.gsub('+',' '), params[:sort_key] , 10)%>

<% if results != false%>
    <ul>
    <% results.each do |r| %>
    <% r = series_search(r['Title']) %>
    <span><li><%= link_to("#{r["Title"]} ( #{r["Year"]} )", "/series/"+(r["Title"]).gsub('+',' ').to_s)%> </li>
    <%=image_tag(single_poster(r['imdbID']), :width => "130", :class =>"img-thumbnail")  %>
    </span>

    <% end %>
    </ul>
<% else %>

<p>No movies exist with that name... Soz </p>
<% end  %>